.tittle h1{
  font-size: 50px;
  color: rgb(52, 120, 223);
}

.character-list{
  padding: 10px;

}

.character-list img{
  width: 300px;
  height: 250px;
}

.talk-rubbish{
  margin-top: 50px;
}

.talk-result{
  width: auto;
  height: 100px;
}

.talk-result p{
  font-size: 25px;
margin-top: 24px;
margin-bottom: 24px;
}